@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-color:lightgray">
    <div class="lead" style="background-color:dodgerblue">
        <h1 style="color:red;text-align:center;width:100%;height:35px;font-size:large;font-weight:bold;font-size:45px">WELCOME TO MUSICSTORE</h1><br /><br />

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron" style="text-align:left; width:425px;height:300px;background-color:whitesmoke">
                <form>
                    Username <input id="username" type="text" /><br /><br />
                    Email <input id="Email" type="email" style="margin-left:30px" /><br /><br />
                    Password <input id="Password" type="password" style="margin-left:4px" /><br /><br />
                    DOB<input id="DOB" type="date" style="margin-left:40px" /><br /><br />
                    <p><a href="Register" class="btn btn-success">Register</a></p>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <table class="table" style="text-align:center; width:350px;height:300px;background-color:whitesmoke;margin-left:185px">
                <thead style="background-color:black;color:white;text-align:center">
                    <tr>
                        <th>#</th>
                        <th>Music Album</th>
                        <th>singer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Dynamite</td>
                        <td>BTS Boys Band</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Baby</td>
                        <td>Justin Beiber</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>stars dance</td>
                        <td>Selena Gomez</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Wrecking Ball</td>
                        <td>Miley Cyrus</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="jumbotron" style="width:100%;height:200px;background-color:whitesmoke">
        <div class="row">
            <div class="col-md-4">
                <form>
                    Select the music<br /><br />
                    pop-music <input type="checkbox" />
                    rock-music <input type="checkbox" /><br /><br />
                    western-music <input type="checkbox" />
                    indian-music <input type="checkbox" />

                </form>
            </div>
            <div class="col-md-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" style="width:150px">select</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <ol>
                            <li><a class="dropdown-item" href="#!">Hip-hop</a></li>
                            <li><a class="dropdown-item" href="#!">Kpop</a></li>
                            <li><a class="dropdown-item" href="#!">Rock music</a></li>
                            <li><a class="dropdown-item" href="#!">Karnatic</a></li>
                            <li><a class="dropdown-item" href="#!">Western</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-md-4">Select the singer
                <ul>

                    <li><input id="Radio1" type="radio" />BTS</li>

                    
                    <li><input id="Radio1" type="radio" />Justin Beiber </li>
                    
                    <li><input id="Radio1" type="radio" />Miley Cyrus</li>
                    
                    <li><input id="Radio1" type="radio" />Selena Gomez</li>
                    
                    <li><input id="Radio1" type="radio" />Luis Fonsi</li>
                </ul>
            </div>
        </div>
    </div>
</div>  






