
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>About</h2>

<p>This page gives the information regarding the application</p>
@section headSection{
    <style>
        h2{
            background-color:blue;
            color:white;
            text-align:center;
        }
    </style>
    <script>
        alert("about layout page");
    </script>
    }