
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>Contact</h2>
<address>
    Voleti Amal Prathyusha|Hyderabad|Prathyusha.vol@gmail.com
</address>
@section adsSection{
<div align="center">
    <img src="https://th.bing.com/th/id/OIP.bJKJzsngbyRCOI4nYEZATAHaJb?w=129&h=180&c=7&o=5&dpr=1.5&pid=1.7" width="550" height="100" />
</div>
    }