
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>Home</h2>

<p>This page is a layout page which consists of home page, about and contact details of the admin of the page</p>
@section adsSection{
    <div align="center">
        <img src="https://th.bing.com/th/id/OIP.bJKJzsngbyRCOI4nYEZATAHaJb?w=129&h=180&c=7&o=5&dpr=1.5&pid=1.7" width="400" height="100" />
    </div>
    }